.scoreboard {
    border: 5px solid #A36229;
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
}

.scoreboardMax {
    color: orangered;
}

.scoreboardSettings {
    font-size: 40px;
}