.container {
    border: 5px solid #A36229;
    width: 600px;
    height: 400px;
    margin: 200px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.settings {
    border: 5px solid #A36229;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.button {
    border: none;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

